html, body, head {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #6a6a6a;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: #6a6a6a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#input-slider {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left !important;
}
